/* ------THIS-SHOULD-STAY-IN-APP.CSS---SITEWIDE-STYLES------ */

/* import possible fonts */

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&family=Shrikhand&display=swap');

/* 
    font-family: 'Oleo Script', cursive;

    font-family: 'Sen', sans-serif;

    font-family: 'Katibeh', cursive;

    font-family: 'Shrikhand', cursive;

    font-family: 'UnifrakturMaguntia', cursive;
*/



/* universal box sizing from https://css-tricks.com/box-sizing/*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* modified 'button pal' by andy bell - removes default button styling, replaces with material ui-y effects */
button, .input-button {
    display: inline-block;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}
/* button:hover,
button:focus {
    background: #0053ba;
}
button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}*/

/* color variables */
:root {
    --blue-0: rgb(21, 49, 100);
    --blue-1: rgb(17, 101, 134);
    --blue-2: rgb(30, 127, 145);
    --blue-3: rgb(103, 186, 197);
    --ivory-0: rgb(240, 238, 230);
    --ivory-1: rgb(253, 253, 250);
    --orangered-0:rgb(148, 32, 3);
    --orangered-1: rgb(214, 65, 19);
    --orangered-2: rgb(238, 132, 45);

}

/* my sitewide styles */
html {
    background-color: var(--blue-0);
}
body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    padding: 65px 5vw 100px 5vw;
    margin: 0;
    background-color: var(--ivory-0);
    text-align:center;
    font-family: 'Sen', sans-serif;
}
.hide {
    display: none;
}

/*----------TEXT-STYLES------------*/
section h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2.5em;
    color: var(--blue-0);
    line-height: 1em;
    padding-top: .5em;
    margin: 0;
}
h2{
    color: var(--orangered-1);
    font-family: 'Shrikhand', cursive;
    padding: 0;
    margin: 0;
}
h3{
    color: var(--blue-2);
    font-family: 'Shrikhand', cursive;
    padding: 0;
    margin:0;
}
p{
    color: var(--orangered-0);
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

/* ----SEMANTIC-ELEMENT-STYLES---------- */
form, article {
    border: 8px solid var(--orangered-2);
    background-color: var(--ivory-1);
    color: var(--orangered-0);
    padding: .25em .5em;
    border-radius: 1.5em;
    margin: 8px;
}
button {
    background-color: inherit;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    color: var(--blue-0);
    text-transform: lowercase;
}
section {
    min-height: 95vh;
}
img {
    width: 80%;
    margin: 1em auto;
}
/* -----------SPECIFIC-STYLES----------- */
.detailsButton{
    font-size: 1em;
    margin-top: .25em;
}
.back-button {
    display: block;
    margin: .5em auto;
    font-size: 1em;
    color: var(--orangered-1)
}
.admin-button {
    display: block;
    margin: .5em auto;
    font-size: 1em;
    color: var(--orangered-0)
}
.shortDescription{
    font-style: italic;
}
.date {
    margin-top: .25em;
    color: var(--blue-1);
}
.location{
    color: var(--blue-2);
}   
.Details h2{
    font-size: 1.2em;
    line-height: 1em;
    margin: .25em 0 .5em 0;
}
.fullDescription{
    padding: 0 1em 1em 1em;
}
.Details .location{
    margin-bottom: .5em;
}
.additionalInfo{
    margin-bottom: .5em;
}
.chevron {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px;
    height: 400px;
}
.left-button{
    left: -5px;
    padding-right: 25px;
}
.right-button{
    right: -5px;
    padding-left:25px;
}
.disclaimer {
    padding-top: 25px ;
}
.disclaimer h2{
    padding-top: 1em;
    color: var(--orangered-1);
}
.disclaimer h3{
    color: var(--blue-1);
}
.disclaimer h4{
    color: var(--orangered-0)
}
.disclaimer p{
    padding: 0 1.5em;
    color: var(--blue-2);
}
.disclaimer .info{
    color: var(--blue-0);
    margin-top: .5em;
}
.got-it{
    background-color: var(--blue-2);
    color: var(--ivory-0);
    padding: 1.5em;
    border-radius: 2.5em;
}
.sidenote {
    font-size: .8em;
}
.top-h2{
    margin-top: 1em;
}
.eventError, .confirmation{
    margin-top: 12em;
}
.preview{
    border-color: var(--blue-3);
}
.action-button{
    font-size: 1em;
    background-color: var(--orangered-1);
    color: var(--ivory-0);
    border-radius: 1em;
    padding: .5em;
    margin: .5em;
    font-weight: normal;
    width: 120px;
}
.admin{
    background-color: var(--blue-0);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left:0;
    top:0;
}
.login-border-div{
    position: absolute;
    width: 80vw;
    top: 45%;
    left:50%;
    transform: translate(-50%, -50%);
    border-color: var(--blue-3);
    padding: 0;
    margin: 0;
    background-color: var(--blue-0);
    background-color:var(--blue-2);
    border: 8px solid var(--blue-1);
    border-radius: 2em;
}
.login-form{
    border-color: var(--blue-3);
}
.admin h1{
    font-family: 'Shrikhand', cursive;
    font-size: 2.5em;
    color: var(--orangered-1);
    line-height: 1em;
    padding-top: .5em;
    margin: 0;
}
.login-form input {
    width: 80%;
    margin: auto;
}
.login-form .log-in {
    margin: 1em auto;
    padding: .5em;
    border: none;
    background-color: var(--orangered-2);
    border-radius: 2em;
    width: 150px;
    font-size: 1.2em;
    text-transform: lowercase;
    color: var(--ivory-0);
}
.noteTime{
    font-size: .6em;
    margin: 0;
    padding: 0;
}
.singleNote{
    margin-bottom: .5em;
    padding: 0;
}
.note-form .input-button{
    font-size: 1em;
    background-color: var(--blue-2);
    color: var(--ivory-1);
    margin: .25em;
    border-radius: 1em;
}
.note-form textarea{
    width: 100%;
    border-radius: 1em;
    padding: .5em;
}
.note-form {
    margin-top: 2em;
    border: none;
    background-color: inherit;
}

/* -----FORM-SPECIFIC-STYLES------------ */
label span {
    display: block;
    font-size: .6em;
    color: rgb(238, 132, 45);
}
input, textarea {
    border: .2px solid var(--ivory-0);
    background-color: white;
    color: var(--blue-0);
    font-family: 'Sen', sans-serif;
    font-size: .8em;
    text-align: center;
}
.input-button {
    font-size: 1.2em;
    margin: 1.5em 0 .5em 0;
    width: 80%;
    color: var(--blue-2);
}
.datetime-input {
    display: inline-block;
    width: 50%;
}
label {
    display: block;
    margin-top: .5em;
}



#full-description {
    min-height: 150px;
}

#no, #yes, .radio-label {
    display: inline-block;
    width: auto
}
#yes {
    margin-left: 50px;
}

ul {
    list-style-type: none;
}

/* ----------DIV-STLYES----------- */
.border-div {
    padding: 0;
    margin-top: .75em;
    background-color: var(--blue-0);
    background-color:var(--blue-2);
    border: 8px solid var(--blue-1);
    border-radius: 2em;
}

    article button:hover {
        background-color: rgb(215, 236, 234);
    }

/* ----------HEADER-STLYES----------- */
.Header {
    background-color: var(--blue-0);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 0 5vw;
    width: 100vw;
}
#about-button {
    position: absolute;
    top: 3.5em;
    left: 50%;
    transform: translate(-50%);
    width: 5em;
    padding: .25em 0;
    margin: 0;
    border-radius: 2em;
    font-size: .8em;
    font-weight: bold;
    border: 4px solid var(--blue-0);
    background-color: var(--ivory-0);
    color: var(--orangered-1);
}   
.Header h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 1.8rem;
    color: var(--ivory-0);
    padding: .25em 0 .4em 0;
    margin: 0;
}
.Header .border-div {
    padding: 0;
    margin: 8vh 8vw 30vh 8vw;
    background-color: var(--blue-0);
    background-color:var(--blue-2);
    border: 10px solid var(--blue-1);
    border-radius: 2em;
}
.Header .content-div {
    padding: 2em;
    margin: 10px;
    font-size: 1.1em;
    background-color:var(--ivory-0);
    border: 10px solid var(--blue-3);
    border-radius: 1.2em;
}
.Header .site-title {
    display: block;
    font-family: 'Shrikhand', cursive;
    font-size: 1.1em;
    color: var(--blue-2);
}

/* ------------NAV-STYLES------------ */
.Nav {
    background-color: var(--blue-0);
    color: var(--ivory-0);
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    padding: 1em 5vw 2em 5vw;
    width: 100vw;
}
.nav-link, .logoutButton {
    padding: 0 4vw;
}
.logoutButton {
    text-transform: none;
    font-weight: normal;
    background-color:var(--blue-0);
    color: var(--ivory-0);
    font-size: 1em;
}

/* ----------FOOTER-STYLES-----------*/
footer {
    position: fixed;
    color: var(--blue-3);
    font-size: .6em;
    bottom: 10px;
    left: 50%;
    transform: translatex(-50%);
}

/* ----------EVENT-FORM-STYLES-----------*/

input, textarea {
    display: block;
    width: 100%;
}






/* .alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
} */

/* This line makes the "Register" and "Login" buttons look like links */
/* .link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
} */
