/* ------THIS-SHOULD-STAY-IN-APP.CSS---SITEWIDE-STYLES------ */

/* import possible fonts */

@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Oleo+Script:wght@400;700&family=Sen:wght@400;700;800&family=Shrikhand&family=UnifrakturMaguntia&display=swap');

/* 
    font-family: 'Oleo Script', cursive;

    font-family: 'Sen', sans-serif;

    font-family: 'Katibeh', cursive;

    font-family: 'Shrikhand', cursive;

    font-family: 'UnifrakturMaguntia', cursive;
*/



/* universal box sizing from https://css-tricks.com/box-sizing/*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* modified 'button pal' by andy bell - removes default button styling, replaces with material ui-y effects */
button, .input-button {
    display: inline-block;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}
/* button:hover,
button:focus {
    background: #0053ba;
}
button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}*/

/* my sitewide styles */

/* color variables */
:root {
    --blue-0: rgb(21, 49, 100);
    --blue-1: rgb(17, 101, 134);
    --blue-2: rgb(30, 127, 145);
    --blue-3: rgb(103, 186, 197);
    --ivory-0: rgb(240, 238, 230);

}


html {
    background-color: var(--blue-0);
}
body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    padding: 100px 8vw 100px 8vw;
    margin: 0;
    background-color: rgb(240, 238, 230);
    text-align:center;
    font-family: 'Sen', sans-serif;
}

.hide {
    display: none;
}

section h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2.8em;
    color: rgb(5, 175, 138);
    line-height: 1em;
    padding: .5em 0;
    margin: 0;
}

h2{
    color: rgb(214, 65, 19);
    font-family: 'Shrikhand', cursive;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: rgb(240, 238, 230);
    font-family: 'Sen', sans-serif;
}

label span {
    display: block;
    font-size: .6em;
    color: rgb(238, 132, 45);
}

input, textarea {
    font-family: 'Sen', sans-serif;
    font-size: .8em;
    text-align: center;
}

.datetime-input {
    display: inline-block;
    width: 50%;
}

.sidenote {
    font-size: .8em;
}

#full-description {
    min-height: 150px;
}

#no, #yes, .radio-label {
    display: inline-block;
    width: auto
}
#yes {
    margin-left: 50px;
}

ul {
    list-style-type: none;
}

/* ----------FORM_AND_ARTICLE-STLYES----------- */
form, article {
    border: 6px solid rgb(238, 132, 45);
    background-color: rgb(240, 238, 230);
    color: rgb(105, 36, 9);
    padding: 1em;
    border-radius: 3em;
    margin-bottom: 1em;
}

article p {
    margin: 0;
    padding: 0;
}

form button, article button, .input-button {
    border-radius: .5em;
    background-color:rgb(240, 238, 230);
    font-weight: 700;
    font-size: .8em;
    color: rgb(5, 175, 138);
}

    article button:hover {
        background-color: rgb(215, 236, 234);
    }
.date {
    color: rgb(18, 45, 95);
}    

img {
    width: 80%;
}

/* ----------HEADER-STLYES----------- */
.Header {
    background-color: var(--blue-0);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 5vw;
    width: 100vw;
}
#about-button {
    position: absolute;
    top: 3.6em;
    left: 50%;
    transform: translate(-50%);
    width: 5em;
    padding: .25em 0;
    margin: 0;
    border-radius: 2em;
    font-size: 1em;
    border: 4px solid var(--blue-0);
    background-color: var(--ivory-0);
    color: var(--blue-2);
}   
.Header h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 1.2 em;
    color: var(--blue-3);
    padding: .25em 0 .75em 0;
    margin: 0;
}
.Header .border-div {
    padding: 0;
    margin: 8vh 8vw 30vh 8vw;
    background-color: var(--blue-0);
    background-color:var(--blue-2);
    border: 10px solid var(--blue-1);
    border-radius: 2em;
}
.Header .content-div {
    padding: 2em;
    margin: 10px;
    font-size: 1.1em;
    background-color:var(--ivory-0);
    border: 10px solid var(--blue-3);
    border-radius: 1.2em;
}
.Header .site-title {
    display: block;
    font-family: 'Shrikhand', cursive;
    font-size: 1.1em;
    color: var(--blue-2);
}
/* ------------NAV-STYLES------------ */
.Nav {
    background-color: var(--blue-0);
    color: rgb(240, 238, 230);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1em 5vw 3em 5vw;
    width: 100vw;
}

.nav-link {
    padding: 0 6vw;
}

/* ----------FOOTER-STYLES-----------*/
footer {
    position: fixed;
    color: rgb(129, 199, 202);
    font-size: .75em;
    bottom: 10px;
    left: 50%;
    transform: translatex(-50%);
}

/* ----------EVENT-FORM-STYLES-----------*/
label {
    display: block;
}
input, textarea {
    display: block;
    width: 100%;
}






/* .alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
} */

/* This line makes the "Register" and "Login" buttons look like links */
/* .link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
} */
